<StackLayout>
    <Label text="CHECK OUT" textAlignment="center" fontSize="24%" margin="1% 0 2% 0" textWrap="true"></Label>
    <Label [text]="context.id" textAlignment="center" margin="1% 0 2% 0" textWrap="true"></Label>
    <Label [text]="context.description" textAlignment="center" margin="1% 0 2% 0" textWrap="true"></Label>
    <Label [text]="context.classification" textAlignment="center" margin="1% 0 2% 0" textWrap="true"></Label>
    
    <Button text="Check-out" class="btn btn-primary" (tap)="checkOut()"></Button>
    <Button text="Close" class="btn btn-danger" (tap)="close()"></Button>
</StackLayout>